/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #A9A9A9;
}

button {
  margin: 1em;
}

.inner {
  max-width: 50em;
}

/*
 * Header
 */
.masthead {
  background-color: #2F4F4F;
  height: 7em;
  width: 100%;
  margin-bottom: 2rem;
}

.logo-img {
  margin: 15px 30px;
  width: 80px;
  height: auto;
}

.nav-masthead {
  margin-right: 20px;
  margin-top: 20px;
}

.navbar-nav .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.navbar-nav .active {
  color: #fff;
  border-bottom-color: #fff;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.navbar-nav .nav-link + .nav-link {
  margin-left: 1rem;
}

@media (min-width: 48em) {
  .logo-img {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #2F4F4F;
  border-color: #fff;
}

.btn-outline-success {
  color: rgba(255, 255, 255, .25);
  background-color: transparent;
  background-image: none;
  border-color: rgba(255, 255, 255, .25);
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
  background-color: #2F4F4F;
  height: 7em;
  width: 100%;
  padding-top: 20px;
}
