.table td, .table th {
  border: 0;
}

.table thead tr {
  border: 1px solid #2F4F4F;
}

.table tbody tr {
  background-color: rgba(0,0,0,.075);
  border: 1px solid #A9A9A9;
}

.table tbody tr:hover {
  background-color: #A9A9A9;
  border: 1px solid #2F4F4F;
}

.table .selected {
  background-color: #FFFAF0;
  border: 1px solid #2F4F4F;
}

.table .selected:hover {
  background-color: #F5F5DC;
  border: 1px solid #2F4F4F;
}

.table .thead-dark th {
  background-color: #2F4F4F;
}

.btn-outline-primary {
  color: #2F4F4F;
  background-color: transparent;
  background-image: none;
  border-color: #2F4F4F;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #2F4F4F;
  border-color: #2F4F4F;
}

#downloadButton:active {
  color: #fff;
  background-color: #2F4F4F;
  border-color: #2F4F4F;
  box-shadow: 0 0 0 0.2rem #2F4F4F;
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
  box-shadow: none;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}
